.vscode
bin
obj
node_modules
.idea/.idea.keepr/riderModule.iml
.idea/.idea.keepr/.idea/contentModel.xml
.idea/.idea.keepr/.idea/dbnavigator.xml
.idea/.idea.keepr/.idea/encodings.xml
.idea/.idea.keepr/.idea/indexLayout.xml
.idea/.idea.keepr/.idea/misc.xml
.idea/.idea.keepr/.idea/modules.xml
.idea/.idea.keepr/.idea/vcs.xml
.idea/.idea.keepr/.idea/workspace.xml
.idea/.idea.keepr/.idea/codeStyles/Project.xml
